<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Timer </ion-card-title>
      <ion-card-subtitle>
        <!-- Paused -->
        <span> Running: {{ activityRunning ? "Running" : "Paused"}} </span>
        <br />
        <span> Time Elapsed: {{ timeElapsed }}</span>
        @if( activityRunning) {
        <span> Timer: {{ timer$ | async }}</span>
        }
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        @if (!activityRunning) {
        <ion-button (click)="startActivity()">Start</ion-button>
        <ion-button (click)="openSaveActivityModal()">End</ion-button>
        } @else {
        <ion-button (click)="pauseActivity()">Pause</ion-button>
        }
      </div>
    </ion-card-content>
  </ion-card>

  <app-map style="width: 100%"></app-map>
</ion-content>
