<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <form [formGroup]="saveActivityForm">
      <ion-input
        labelPlacement="stacked"
        label="Activity Name"
        placeholder="Evening Run"
        formControlName="name"
      ></ion-input>

      <ion-input
        labelPlacement="stacked"
        label="Activity Type"
        placeholder="Run"
        formControlName="activityType"
      ></ion-input>
    </form>
  </ion-item>
</ion-content>
