<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for(activity of activities; track activity.id) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{activity.name}}</ion-card-title>
      <ion-card-subtitle>{{activity.date | date}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Distance: {{activity.distance }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Duration: {{activity.duration}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  }
</ion-content>
