<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Settings </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="" true>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Settings</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>

<ion-card>
    <ion-card-header>
        <ion-card-title>Personal Information</ion-card-title>
        <ion-card-subtitle>Please fill out the fields below:</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
        <ion-item>
            <ion-input label="First Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Last Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Date of Birth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Height"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input label="Weight"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button (click)="submit">Submit</ion-button>
    <ion-button (click)="reset">Reset</ion-button>
</ion-card>

<ion-card>
    <ion-card-header>
        <ion-card-title>Preferences</ion-card-title>
        <ion-card-subtitle>Have fun choosing:</ion-card-subtitle>    
    </ion-card-header>

    <ion-button (click)="milesperhour">Miles / Per Hour</ion-button>
    <ion-button (click)="kilometersperhour">Kilometers / Per Hour</ion-button>

    <ion-button (click)="celsius">Celsius</ion-button>
    <ion-button (click)="fahrenheit">Fahrenheit</ion-button>

    <ion-button (click)="dark">Dark</ion-button>
    <ion-button (click)="light">Light</ion-button>

    <ion-button (click)="notificationson">Notifications On</ion-button>
    <ion-button (click)="notificationsoff">Notifications Off</ion-button>
    
    <ion-button (click)="on">On</ion-button>
    <!--These buttons are for data sharing-->
    <ion-button (click)="off">Off</ion-button>


    <!-- <ion-list>
        <ion-item>
            <ion-input label="Units Of Measurement -"></ion-input>
            <ion-segment value="unitmeasurement">
                <ion-segment-button value="miles">
                    <ion-label>Miles / Hr</ion-label>
                </ion-segment-button>
                <ion-segment-button value="kph">
                    <ion-label>Kilometers / Hr</ion-label>
                </ion-segment-button>
            </ion-segment>    
        </ion-item>
        
        <ion-item>
            <ion-input label="Temperature -"></ion-input>
            <ion-segment value="temperature">
                <ion-segment-button value="celsius">
                    <ion-label>Celsius</ion-label>
                </ion-segment-button>
                <ion-segment-button value="degreesfahrenheit">
                    <ion-label>Fahrenheit</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-item>           
    </ion-list> -->
    
</ion-card>
     
